<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.allan.capitales">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Nivel1"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Multiple" />
        <activity android:name=".Nivel2" />
        <activity android:name=".nivel3" />
        <activity
            android:name=".PruebaFacilNivel1"
            android:parentActivityName=".Nivel1" />
        <activity android:name=".SeisNivel1" />
        <activity android:name=".JuegoTiempoNivel1" />
        <activity android:name=".PruebaDificilNivel1" />
        <activity android:name=".Mapa" />
        <activity android:name=".MapaNivel1" />
        <activity android:name=".MultipleNivel2" />
        <activity android:name=".GridActivity" />
        <activity android:name=".SeisNivel2" />
        <activity android:name=".TiempoNivel2" />
        <activity android:name=".FacilNivel2" />
        <activity android:name=".DificilNivel2"></activity>
    </application>

</manifest>